page-report {
  #map_canvas{
    position: relative;
    height: 10em;
    width: 100%;
    margin-top: 1em;
    right: 0em;
    left: 0em;
    bottom: 0;
    background: black;

  }
  form{
    z-index: -1;
  }

  img.preview{
    border: solid;
    width: 40%;
  }

  ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
    text-align: left;
  }
}
